apiVersion: apps/v1
kind: Deployment
metadata:
  annotations:
    tad.gitops.set/image: ".spec.template.spec.containers[0].image"
    tad.gitops.get/image: ".spec.template.spec.containers[0].image"
    tad.gitops.set/replicas: ".spec.replicas"
    tad.gitops.get/replicas: ".spec.replicas"
  name: backend-tests-java-quarkus-fjytmsvz
spec:
  replicas: 1
  template:
    spec:
      containers:
        - image: quay.io/rhtap_qe/backend-tests-java-quarkus-fjytmsvz:20f9a2b99a407310519d4ea1f05f9f6950be4fe8@sha256:17fc35392158f431b6b81cbd6915f73f5ac0c19b05d8d54b9469cfbe7b5b0483
          name: container-image
